body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background: lightblue;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 5px;
}

.app {
  background: gray;
  padding: 30px;
  height: 100vh;
}

.todo {
  background: aliceblue;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 20px;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  padding: 1rem;
  font-size: 20px;
}
